workflows/vas-start-stop-status.json
{"id":6,"name":"VAS-start-stop-status","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[70,290]},{"parameters":{"pipeline":"person_vehicle_bike","operation":"start","uri":"={{$json[\"uri\"]}}","parameters":{"inference_interval":"25","threshold":"0.999"}},"name":"IntelVAS","type":"n8n-nodes-base.intelvas","typeVersion":1,"position":[420,300],"credentials":{"intelVASApi":"Intel VAS account"}},{"parameters":{"pipeline":"person_vehicle_bike","operation":"stop","instance_id":"={{$json[\"id\"]}}"},"name":"IntelVAS1","type":"n8n-nodes-base.intelvas","typeVersion":1,"position":[630,300],"credentials":{"intelVASApi":"Intel VAS account"}},{"parameters":{"pipeline":"person_vehicle_bike","operation":"status","instance_id":"={{$json[\"id\"]}}"},"name":"IntelVAS2","type":"n8n-nodes-base.intelvas","typeVersion":1,"position":[630,530],"credentials":{"intelVASApi":"Intel VAS account"}},{"parameters":{"functionCode":"return [\n{ \n \n  json : {\n   uri : \"https://github.com/intel-iot-devkit/sample-videos/blob/master/person-bicycle-car-detection.mp4?raw=true\",\n }\n },\n {\n  json : {\n    uri : \"https://github.com/intel-iot-devkit/sample-videos/blob/master/car-detection.mp4?raw=true\",\n    }\n  }\n];\n"},"name":"Function","type":"n8n-nodes-base.function","typeVersion":1,"position":[260,490]}],"connections":{"Start":{"main":[[{"node":"Function","type":"main","index":0}]]},"Function":{"main":[[{"node":"IntelVAS","type":"main","index":0}]]},"IntelVAS":{"main":[[{"node":"IntelVAS2","type":"main","index":0}]]}},"createdAt":"2021-10-08T11:44:47.635Z","updatedAt":"2021-10-14T10:47:25.743Z","settings":{},"staticData":null}
